/* POPPINS FONT FAMILY */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

* {
  font-family: "Poppins", sans-serif;
}
body{
  background-color: #f4fdff;
}
header{
  height: 500px;
  background-color: #3400FF;
}
nav{
  float: right;
  margin-right: 40px;
  margin-top: 15px;
  cursor: pointer;
  
}

.nav-item{
  margin-right: 20px;
  color: #fffc5d;
}
.nav-item-active{
  background-color: #fff;
  border-radius: 5px;
  padding: 5px;
  color: #2b0101;
  margin-right: 25px;
  font-weight: 550;
}

.logo{
  margin: 25px;
}
.header-text{
  color: #fff;
  margin: 25px;
  margin-top: 50px;
  float: left;
  font-size: 25px;
  
}
.header-image{
  float: right;
}

.companies{
  margin-top: 10px;
  margin-left: 60px;
}
.company-items{
text-decoration: none;
margin-left: 40px;
font-weight: 700;
color: #000;
font-family: Arial, Helvetica, sans-serif;
}

.api-heading{
  font-weight: 7000;
  margin-left: 90px;
  margin-top: 90px;
font-style: Bold;
}
.cards{
  margin-left: 90px;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
}
.card{
  width: 20%;
  height: 300px;
  background-color: #transperent;
  margin-right: 20px;
}
.card-active{
  width: 20%;
  height: 260px;
  background-color: #fff;
  margin-right: 30px;
  box-shadow: 0px 2px 11px;
  border-radius: 10px;
  padding: 10px;
}
.card-logo{
  margin-left: 30px;
  margin-top: 30px;
}
.card-head-active{
  color: #000;
  margin-left: 30px;
}
.card-body{
  margin-left: 30px;
  color: #000;
  font-size: small;
}
.card-head{
  color: #000;
  margin-left: 30px;
}
.blog-heading{
  margin-left: 90px;
  margin-top: 20px;
}
.blog-cards{
  margin-left: 90px;
  display: flex;
  flex-direction: row;
}
.blog-card{
  height: 300px;
  width: 50%;
}
.blog-content{
  height: 290px;
  width: 50%;
  margin-left: 250px;
  margin-top: -298px;
  background-color: #fff;
  border-radius: 10px;
  font-weight: 400;
  padding-left: 45px;
  padding-top: 1px;
  font-size: medium;
}
.blog-bottom{
  margin-left: 280px;
  margin-top: -40px;
}
.blog-author{
  margin-left: 170px;
  margin-top: -55px;
}
.faq-section{
  margin-left: 0px;
  margin-top: 40px;
  height: 320px;
  width: 70%;
  background-color: hwb(188 85% 7%);
}
.faq-content{
  margin-left: 30px;
  margin-top: 40px;
  font-weight: 400;
  padding-top: 5px;
}
.faq-image{
  margin-left: 750px;
  margin-top: -265px;
}
button{
  background-color: #980df5;
  border-radius: 5px;
  color: #fff;
}
.download-section{
  height: 140px;
  margin-left: 0px;
  margin-top: 30px;
  background-color: f4fdff;
  
}
.download-email {
  margin-left: 900px;
  margin-top: -50px;
  border-radius: 29px;
 }
.download-content{
  margin-left: 50px;
  padding-top: 20px;
  
}
.footer-section{
  height: 200px;
  margin-left: 0px;
  margin-top: 10px;
  background-color: #5a9bfd;
}
.list{
  display: flex;
  flex-direction: row;
  color: #fff;
}
.list-items{
  float: left;
  margin-left: 30px;
  margin-top: 5px;
  font-size: small;
  list-style: none;
}
.footer-logo{
  margin-left: 75px;
  margin-top: 60px;
}
.footer-right{
  float: right;
  margin-right: 25px;
  margin-top: -45px;
}
.footer-logos{
  margin-right: 10px;
}
.logos-list{
  color: #fff;
  
}
.list-items{
  margin-right: 1px;
}